[language-server.harper-ls]
command = "harper-ls"
args = ["--stdio"]

[[language]]
name = "markdown"
scope = "source.md"
file-types = ["md", "markdown"]
soft-wrap = { enable = true }
language-servers = ["markdown-oxide", "harper-ls"]

[[language]]
name = "python"
language-servers = [ "basedpyright" ]
